@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*,
input,
label {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label {
    font-size: 0;
    line-height: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #3E474F;
    background-color: beige;
}

input {
    appearance: none;
    height: 0;
    width: 0;
}

.container {
    max-width: 100%;
    padding: 2%;
    margin: auto;
}



.title-text {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    display: inline-block;
    width: calc(100% - 1.2rem);
    padding: 2%;

}

.fa-plus {
    font-size: 1.2rem;
    line-height: 1.5rem;
    display: inline-block;
    text-align: right;
    transition: all .3s linear;
}


img {
    display: block;
    width: 0;
    margin: auto;
    transition: .6s;
}

input[type="radio"]:checked~img {

    width: 80%;
    padding-bottom: 2%;
}

input[type="radio"]:checked~.fa-plus {
    transform: rotate(45deg);
    transition: all .6s linear;
}

.accordion__item {
    border: 3px solid #3E474F;
    border-radius: 5px;
    margin-bottom: 10px;
}

.accordion {
    width: 80%;
    margin: auto;
}



.heading {
    margin-bottom: 2%;
    font-size: 1.5rem;
}

@media (max-width:768px) {
    .accordion {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .title-text {
        font-size: 2rem;
        width: calc(100% - 2rem);
    }

    .container {
        max-width: 100%;
    }

    .fa-plus {
        font-size: 2rem;
    }

    .heading {
        font-size: 2.5rem;
        line-height: 3rem;
    }

}


@media (min-width: 1024px) {
    .title {
        cursor: pointer;
    }

    .container {
        max-width: 95%;
    }

    input:not(:checked):hover~img {

        width: 80%;
        padding-bottom: 2%;
        animation: shows 3s;
    }

    input:not(:checked):hover~.fa-plus {
        transform: rotate(45deg);
        transition: all .3s linear;
    }

    @keyframes shows {

        from {

            opacity: 0;

        }

        to {

            opacity: 1;

        }

    }

    .title-text {
        font-size: 2.5rem;
        width: calc(100% - 2.5rem);
        color: cornflowerblue;
    }

    .fa-plus {
        font-size: 0;
        display: none;
    }

    .heading {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .accordion:hover input[type="radio"]:not(:checked)~.fa-plus {
        font-size: 2.5rem;
        transition: .3s;
    }

    .accordion:hover input[type="radio"]:checked~.fa-plus {
        font-size: 2.5rem;
        transition: .3s;
    }

    input[type="radio"]:checked~.title-text {
        color: #3E474F;
    }

    .accordion:hover input:checked~.title-text {
        color: #3E474F;
    }

    .accordion:hover input[type="radio"]:not(:checked)~.title-text {
        color: #3E474F;
    }
}

@media (min-width: 1440px) {


    .container {
        max-width: 70%;
    }





}